<header class="site-header" id="page-header">
    <div class="container">
      <a class="logo" href="https://www.futurefinance.com/">
      <svg width="1257px" height="105px" viewBox="0 0 1257 105" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M556.989194,52.28 L560.019194,52.28 L560.58,52.279 L563.599194,52.28 L564.16,52.279 L567.189193,52.28 L567.74,52.279 L570.769193,52.28 L571.32,52.279 L574.349193,52.28 L574.9,52.279 L577.929193,52.28 L578.48,52.279 L581.509194,52.28 L582.07,52.279 L585.089194,52.28 L585.65,52.279 L588.679193,52.28 L589.23,52.279 L592.259193,52.28 L592.81,52.279 L595.839193,52.28 L596.39,52.279 L599.419193,52.28 L599.969,52.279 L602.999194,52.28 L603.56,52.279 L606.589193,52.28 L607.14,52.279 L610.169193,52.28 L610.72,52.279 L613.749193,52.28 L614.299,52.279 L617.329193,52.28 L617.88,52.279 L615.675336,55.0130719 L607.469,65.19 L607.465997,65.19 L591.87,84.524 L574.08,84.524 L589.68,65.19 L537.99,65.19 L537.99,52.28 L538.529195,52.28 L539.09,52.279 L542.109194,52.28 L542.67,52.279 L545.699193,52.28 L546.25,52.279 L549.279193,52.28 L549.83,52.279 L552.859193,52.28 L553.41,52.279 L556.439193,52.28 L556.99,52.279 Z M0,2.012 L71.11,2.012 L71.11,18.962 L18.97,18.962 L18.97,44.964 L66.8,44.964 L66.8,61.915 L18.97,61.915 L18.97,102.568 L0,102.568 L0,2.012 Z M162.91,64.5 C162.91,90.214 145.24,104.58 121.68,104.58 C98.12,104.58 80.45,90.214 80.45,64.5 L80.45,2.012 L99.41,2.012 L99.41,62.633 C99.41,78.291 108.03,87.054 121.68,87.054 C135.32,87.054 143.94,78.291 143.94,62.633 L143.94,2.012 L162.91,2.012 L162.91,64.5 Z M170.46,2.012 L250.9,2.012 L250.9,19.537 L220.16,19.537 L220.16,102.568 L201.2,102.568 L201.2,19.537 L170.46,19.537 L170.46,2.012 Z M340.91,64.5 C340.91,90.214 323.24,104.58 299.69,104.58 C276.13,104.58 258.46,90.214 258.46,64.5 L258.46,2.012 L277.42,2.012 L277.42,62.633 C277.42,78.291 286.04,87.054 299.69,87.054 C313.33,87.054 321.95,78.291 321.95,62.633 L321.95,2.012 L340.91,2.012 L340.91,64.5 Z M372.52,61.771 L372.52,102.568 L353.55,102.568 L353.55,2.012 L396.51,2.012 C418.63,2.012 432.28,13.073 432.28,30.455 C432.28,45.969 422.94,55.163 409.29,60.047 L433.57,102.568 L411.88,102.568 L388.61,61.771 L372.52,61.771 Z M372.52,45.107 L396.51,45.107 C408.14,45.107 413.31,39.936 413.31,31.891 C413.31,23.847 408.14,18.675 396.51,18.675 L372.52,18.675 L372.52,45.107 Z M442.04,2.012 L511.43,2.012 L511.43,18.962 L461.01,18.962 L461.01,42.091 L507.41,42.091 L507.41,59.041 L461.01,59.041 L461.01,85.618 L511.86,85.618 L511.86,102.568 L442.04,102.568 L442.04,2.012 Z M685.85,2.012 L756.96,2.012 L756.96,18.962 L704.81,18.962 L704.81,44.964 L752.65,44.964 L752.65,61.915 L704.81,61.915 L704.81,102.568 L685.85,102.568 L685.85,2.012 Z M766.15,102.568 L766.15,2.012 L785.11,2.012 L785.11,102.568 L766.15,102.568 Z M796.949,2.012 L816.199,2.012 L858.15,65.937 C858.15,65.937 861.6,71.683 862.46,73.838 L862.46,2.012 L880.85,2.012 L880.85,102.568 L861.6,102.568 L819.65,38.212 C819.65,38.212 816.199,32.466 815.34,30.311 L815.34,102.568 L796.949,102.568 L796.949,2.012 Z M926.47,2.012 L944.569,2.012 L985.22,102.568 L964.97,102.568 L954.91,76.28 L916.13,76.28 L906.07,102.568 L885.82,102.568 L926.47,2.012 Z M922.59,59.329 L948.449,59.329 L939.25,35.195 C939.25,35.195 937.39,30.311 935.52,24.278 C933.65,30.311 931.78,35.195 931.78,35.195 L922.59,59.329 Z M988.24,2.012 L1007.489,2.012 L1049.429,65.937 C1049.429,65.937 1052.88,71.683 1053.739,73.838 L1053.739,2.012 L1072.13,2.012 L1072.13,102.568 L1052.88,102.568 L1010.94,38.212 C1010.94,38.212 1007.489,32.466 1006.63,30.311 L1006.63,102.568 L988.24,102.568 L988.24,2.012 Z M1178.44,77.573 C1166.23,96.104 1154.73,104.58 1133.04,104.58 C1103.45,104.58 1081.61,83.606 1081.61,52.29 C1081.61,20.974 1104.31,4.4408921e-16 1133.759,4.4408921e-16 C1154.88,4.4408921e-16 1171.11,11.061 1177.86,26.289 L1162.489,37.35 C1156.46,24.565 1147.259,17.526 1133.19,17.526 C1115.52,17.526 1100.86,30.886 1100.86,52.29 C1100.86,72.976 1115.23,87.054 1133.19,87.054 C1146.26,87.054 1156.599,80.159 1163.639,66.943 L1178.44,77.573 Z M1186.91,2.012 L1256.299,2.012 L1256.299,18.962 L1205.87,18.962 L1205.87,42.091 L1252.27,42.091 L1252.27,59.041 L1205.87,59.041 L1205.87,85.618 L1256.73,85.618 L1256.73,102.568 L1186.91,102.568 L1186.91,2.012 Z M613.12,102.568 L612.57,102.568 L653.15,52.279 L653.7,52.279 L613.12,102.568 Z M609.54,102.568 L608.99,102.568 L649.57,52.279 L650.12,52.279 L609.54,102.568 Z M616.7,102.568 L616.15,102.568 L656.73,52.279 L657.28,52.279 L616.7,102.568 Z M602.38,102.568 L601.819,102.568 L642.4,52.279 L642.95,52.279 L602.38,102.568 Z M605.96,102.568 L605.41,102.568 L645.98,52.279 L646.54,52.279 L605.96,102.568 Z M628.08,52.279 L628.63,52.279 L618.21,65.19 L617.66,65.19 L628.08,52.279 Z M624.49,52.279 L625.05,52.279 L614.63,65.19 L614.08,65.19 L624.49,52.279 Z M620.91,52.279 L621.46,52.279 L611.05,65.19 L610.49,65.19 L620.91,52.279 Z M635.24,52.279 L635.79,52.279 L625.37,65.19 L624.82,65.19 L635.24,52.279 Z M631.66,52.279 L632.21,52.279 L621.79,65.19 L621.239,65.19 L631.66,52.279 Z M638.82,52.279 L639.37,52.279 L628.96,65.19 L628.4,65.19 L638.82,52.279 Z M601.95,2.012 L602.5,2.012 L633.37,40.271 L632.82,40.271 L601.95,2.012 Z M605.53,2.012 L606.08,2.012 L636.95,40.271 L636.4,40.271 L605.53,2.012 Z M616.83,2.012 L647.7,40.271 L647.14,40.271 L616.27,2.012 L616.83,2.012 Z M612.69,2.012 L613.24,2.012 L644.12,40.271 L643.56,40.271 L612.69,2.012 Z M609.11,2.012 L609.66,2.012 L640.53,40.271 L639.98,40.271 L609.11,2.012 Z M574.08,20.057 L591.26,20.057 L607.57,40.271 L590.39,40.271 L574.08,20.057 Z" id="wordmark-path-1"></path></defs><g id="wordmark_Styleguide" stroke-width="1" fill-rule="evenodd"><g id="wordmark_Artboard" transform="translate(-137.000000, -3782.000000)"><g id="ff-wordmark" transform="translate(137.000000, 3782.000000)"><mask id="wordmark-mask-2" fill="white"><use xlink:href="#wordmark-path-1"></use></mask><use fill="" xlink:href="#wordmark-path-1"></use></g></g></g></svg>
      </a>
      <nav class="navigation main navigation-main">
        <a href="https://www.futurefinance.com/student-loans/">Student Loans</a>
        <a href="https://www.futurefinance.com/postgraduate-loan/">Postgraduate Loans</a>
        <div class="header-dropdown"
          data-label="Resources"
          data-link-1="https://www.futurefinance.com/about-us/"
          data-label-1="About us"
          data-link-2="https://www.futurefinance.com/help/"
          data-label-2="Help"
          data-link-3="https://www.futurefinance.com/blog/"
          data-label-3="Insights"
          data-link-4="https://studentmoney.io/"
          data-label-4="Student Money"
          data-target-4="_blank"
        ></div>
        <div class="header-dropdown"
          data-label="Sign In"
          data-label-mobile="Sign in to:"
          data-link-1="https://www.futurefinance.com/login/"
          data-label-1="Student Loan"
          data-label-1-mobile="Student Loan Account"
          data-link-2="https://www.futurefinance.com/login/"
          data-label-2="Postgraduate Loan"
          data-label-2-mobile="Postgraduate Loan Account"
          data-link-3="https://graduate.futurefinance.com/Account/Login"
          data-label-3="Graduate Loan"
          data-label-3-mobile="Graduate Loan Account"
          data-fixed="true"
          data-className="log-in"
        ></div>
        <div class="header-dropdown"
          data-label="My Account"
          data-link-1="https://www.futurefinance.com/my-account"
          data-label-1="My Student Loan"
          data-link-2="https://www.futurefinance.com/logout"
          data-label-2="Sign Out"
          data-fixed="true"
          data-className="account"
      ></div>
      </nav>
      <a id="mobile-menu-trigger" class="menu-trigger">
        <div class="hamburger">
          <span class="bar bar-top" ></span>
          <span class="bar bar-mid" ></span>
          <span class="bar bar-bot" ></span>
        </div>
      </a>
    </div>
</header>
